%% -*- mode: erlang -*-
%% ex: ft=erlang ts=2 sw=2 et
%{cover_enabled, true}.

{deps, [
    {cowboy, ".*", 
      {git, "https://github.com/extend/cowboy.git", {tag, "0.8.3"}}},
    {wamp, ".*", 
      {git, "https://github.com/stwind/erlwamp.git", {branch, "develop"}}},
    {lager, ".*", 
      {git, "https://github.com/basho/lager.git", {branch, "master"}}},
    {ej, ".*", 
      {git, "https://github.com/seth/ej.git", {branch, "master"}}},
    {sync, ".*", 
      {git, "https://github.com/rustyio/sync.git",{branch, "master"}}}
  ]}.

{eunit_opts, [verbose, {report, {eunit_surefire, [{dir, "."}]}}]}.

{erl_opts, [
    %warn_missing_spec
]}.

{ct_extra_params, ""}.
%
{clean_files, [
    "test/*.beam",
    "erl_crash.dump",
    "*.coverdata",
    "logs"
  ]}.

{xref_checks, [undefined_function_calls]}.

{xref_queries, [
    {"((XC - UC) || (XU - X - B))", []},
    {"(L - LU)", []}
  ]}.
